{% extends 'base.html' %}


{% block content%}

<h1 class="text-center text-light fw-700">Registration</h1>
<form class="text-center mt-2" method="POST">
    {% csrf_token %}
    <div class="form-group mb-3">
        <label for="username" class="text-light" style="font-size: 22px;">Username</label>
        <input type="text" class="form-control" id="username" name="username" style="width:300px; margin: 10px auto;">
    </div>
    <div class="form-group">
        <label for="email" class="text-light" style="font-size: 22px;">Email</label>
        <input type="email" class="form-control" id="email" name="email" style="width:300px; margin: 10px auto;">
    </div>
    <div class="form-group mb-3">
        <label for="password1" class="text-light" style="font-size: 22px;">Password</label>
        <input type="password" class="form-control" id="password1" name="password1"
               style="width:300px; margin: 10px auto;">
    </div>
    <div class="form-group mb-3">
        <label for="password2" class="text-light" style="font-size: 22px;">Repeat Password</label>
        <input type="password" class="form-control" id="password2" name="password2"
               style="width:300px; margin: 10px auto;">
    </div>
    <button type="submit" class="btn btn-success" style="margin-top: 10px; width: 140px; font-size: 22px;">Submit
    </button>
</form>
<div class="text-center text-light border border-1 border-white"
     style="width: 240px; margin: 30px auto; padding:8px; border-radius: 6px;">
    <p>already have an account?</p>
    <a href="{% url 'users:login' %}" class="link text-light">Log In</a>
</div>

{% endblock %}
