{% extends 'base.html' %}

{% block content %}
    {% for item in posts %}
        <div class="wrapper-post m-1 p-3 mb-4" style="background-color: #B9B4C7; border-radius: 8px;">
            <h3 class="mb-2"><i>{{item.title|title}}</i></h3>
            <p style="text-indent: 54px; font-size: 18px;">{{item.content|truncatechars:405}}</p>
            <p class="mt-2 mb-0">author:
                {% if item.author.username == 'deleted' %}
                <span class="text-danger">{{item.author}}</span>
                {% else %}
                <a href="#" class="text-dark">{{item.author}}</a>
                {% endif %}
            </p>
            <p class="text-tertiary"><i>{{item.created_at}}</i></p>
            <a href="{% url 'posts:post' item.pk %}" class="btn btn-light" style="border: 2px solid #777;">Read more</a>
        </div>
    {% endfor %}
{% endblock %}

{% block script %}
{% endblock %}