{% extends 'base.html' %}

{% block content %}
  <h2 class="text-center">Liked Posts</h2>
    {% for item in posts %}
        <div class="wrapper-post m-1 p-4 mb-4" style="background-color: #B9B4C7; border-radius: 8px;">
            <h3 class="mb-4"><i>{{item.title|title}}</i></h3>
            <p class="mt-2 mb-0">author:
                {% if item.author.username == 'deleted' %}
                <span class="text-danger">{{item.author}}</span>
                {% else %}
                <a href="{% url 'user:profile' item.author.pk %}" class="text-dark">{{item.author}}</a>
                {% endif %}
            </p>
            <p class="text-tertiary"><i>{{item.created_at}}</i></p>
            <div class="d-flex p-0">
                <p style="margin-right: 10px;">{{item.count_likes}} likes</p>
                <p>{{item.count_comments}} comments</p>
            </div>
            <a href="{% url 'posts:post' item.pk %}" class="btn btn-light" style="border: 1px solid #777;">Read Post</a>
        </div>
    {% endfor %}
{% endblock %}