{% extends 'base.html' %}

{% block content %}
    <div class="wrapper-post m-1 p-3 mb-4" style="background-color: #B9B4C7; border-radius: 8px;">
            <h3 class="mb-4 text-center"><i>{{post.title|title}}</i></h3>
            <p style="text-indent: 54px; font-size: 18px;">{{post.content}}</p>
            <p class="mt-2 mb-0">author:
                {% if post.author.username == 'deleted' %}
                <span class="text-danger">{{post.author}}</span>
                {% else %}
                <a href="{% url 'user:profile' post.author.pk %}" class="text-dark">{{post.author}}</a>
                {% endif %}
            </p>
            <p class="text-tertiary"><i>{{post.created_at}}</i></p>
            <p>{{post.count_likes}} likes </p>
            {% if request.user.is_authenticated%}
                {% if liked %}
                    <a href="{% url 'posts:like' post.id %}" class="btn btn-dark" style="border: 1px solid #777;">Unlike</a>
                {% else %}
                    <a href="{% url 'posts:like' post.id %}" class="btn btn-light" style="border: 1px solid #777;">Like</a>
                {% endif %}
            {% endif %}
            <div style="border-top: 2px solid black; margin-top: 20px; padding-top:20px;" class="wrapper-comments">
                <h3 class="text-center">Comments</h3>
                 {% if request.user.is_authenticated %}
                <form action="{% url 'posts:comment' post.id %}" method="post" class="d-flex mt-4 mb-4">
                    {% csrf_token %}
                    <button class="btn btn-light" type="submit" style="margin-right: 32px;">Add Comment</button>
                    <textarea name="text" id="text" class="form-control" rows="1" style="width: 600px;" placeholder="type here"></textarea>
                    {% if form.text.errors %}
                    <div class="alert mt-2 mb-2 alert-danger alert-dismissible fade show">{{ form.text.errors }}</div>
                    {% endif %}
                </form>
                {% else %}
                <h5 class="text-center"><i>(Log in to comment)</i></h5>
                {% endif %}
            </div>
            {% for item in post.get_comments %}
                <div class="wrapper-comment" style="font-size: 18px; padding: 8px">
                    <p class="mt-2 mb-0">
                        <a href="{% url 'user:profile' item.user.pk %}" class="text-dark">{{item.user}}</a>:
                     {{item.text}}
                    </p>
                    <p style="font-size: 18px;">{{item.created_at}}</p>
                </div>
            {% endfor %}
    </div>

{% endblock %}
